body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    /* Other styling */
   background-color: black;
    background-size: cover; /* This will cover the entire area, without stretching the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

